header {
    background: $main-color;
    padding: 20px 125px;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1800px) {
        padding: 20px 50px;
    }

    @media (max-width: 1250px) {
        padding: 20px 30px;
    }

    @media (max-width: 650px) {
        padding: 15px 20px 50px 20px;
        position: relative;
    }
}

option,
select {
    color: $color-white;
    background: $main-color;
    cursor: pointer;
    font-size: 13px;
}

.burger {
    display: none;
    cursor: pointer;

    @media (max-width: 1250px) {
        display: block;
        position: relative;
        width: 30px;
        height: 25px;
        transition: 0.3s ease;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: $orange-color;
            transition: 0.3s ease;
        }

        span {
            position: absolute;
            width: 100%;
            height: 4px;
            top: 45%;
            left: 0;
            background: $color-white;
            transition: 0.3s ease;
        }

        
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: $orange-color;
            transition: 0.3s ease;
        }
    }
}

.burger_active {
    @media (max-width: 1250px) {
        .top_menu {
            margin-left: 0;
        }

        .burger {
            &::before {
                transform: rotate(45deg);
                top: 43%;
            }
    
            span {
                transform: scale(0);
            }
            
            &::after {
                transform: rotate(-45deg);
                bottom: 40%;
            }
        }
    }
}

.logo {
    transform: translateY(-7px);
    transition: 0.3s ease;

    &:hover {
        opacity: 0.6;
    }
}

.first__block {
    gap: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1800px) {
        gap: 25px;
    }
}

.language__block {
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        @media (max-width: 650px) {
            font-size: 14px;
        }
    }

    @media (max-width: 1600px) {
        gap: 15px;
    }

    @media (max-width: 650px) {
        position: absolute;
        left: 20px;
        bottom: 20px;
        gap: 10px;
    }
}

.language_items {
    position: relative;
    transform: translateY(-2px);

    p {
        color: $color-white;
        font-size: 13px;
    }

    &::after {
        content: '';
        width: 100%;
        height: 3px;
        left: 0;
        bottom: 0px;
        position: absolute;
        background-color: $orange-color;
    }
}

select {
    padding: 5px 15px 5px 3px;
}

.menu_active {
    .arrow {
        transform: rotate(180deg);
    }
}

.arrow {
    width: 7px;
    height: 7px;
    position: absolute;
    top: 9px;
    right: 3px;

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: $color-white;
        top: 0;
        right: 0px;
        transform: rotate(45deg);
    }

    &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: $color-white;
        top: 0;
        left: 1px;
        transform: rotate(-45deg);
    }
}

.top_menu {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $main-color;

    @media (max-width: 1800px) {
        gap: 20px;
    }

    @media (max-width: 1250px) {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        background-color: $main-color;
        width: 100%;
        left: 0;
        top: 70px;
        padding: 0px 30px 30px 30px;
        margin-left: -2000px;
        transition: 0.3s ease;
        gap: 5px;
        z-index: 5;
    }

    @media (max-width: 650px) {
        top: 95px;
        padding: 0 20px 20px 20px;
    }
}

.menu__link {
    color: $gray-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    transition: color 0.3s ease;

    &:hover {
        color: $color-white;
    }

    @media (max-width: 1250px) {
        color: $color-white;
        font-size: 14px;

        &:hover {
            color: $orange-color;
        }
    }
}

.last__block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1250px) {
        gap: 20px;
    }
}

.enter__block {
    position: relative;
    transform: translateY(-2px);
    cursor: pointer;
    display: flex;

    &::after {
        content: '';
        width: 100%;
        height: 3px;
        left: 0;
        bottom: 0px;
        position: absolute;
        background-color: $orange-color;
    }

    a {
        padding: 0;
        transition: color 0.3s ease;
        color: $color-white;
        font-size: 13px;

        &:hover {
            color: $gray-color;
        }
    }

    span {
        padding: 0 3px;
        font-size: 13px;
    }

    @media (max-width: 650px) {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}